{% extends 'base.html'%}
{% block content %}
<!--    <div class="menubar-search-form menubar-search-form-v3 menubar-login open" id="menubar-login-form">-->
<!--                    <div class="login-popup login-page">-->
<!--                        <button type="button" class="btn btn-sm btn-white" id="close-login-form">-->
<!--                            <span class="icon icon-remove"></span>-->
<!--                        </button>-->
<!--                        <div role="tabpanel">-->
<!--                            &lt;!&ndash; Nav tabs &ndash;&gt;-->
<!--                            <ul class="nav nav-tabs" role="tablist">-->
<!--                                <li role="presentation" class="active">-->
<!--                                    <a href="#account-login" aria-controls="account-login" role="tab" data-toggle="tab">Account Login</a>-->
<!--                                </li>-->

<!--                                <li role="presentation">-->
<!--                                    <a href="#account-register" aria-controls="account-register" role="tab" data-toggle="tab">Register</a>-->
<!--                                </li>-->
<!--                            </ul>&lt;!&ndash; /.nav &ndash;&gt;-->

<!--                            &lt;!&ndash; Tab panes &ndash;&gt;-->
<!--                            <div class="tab-content">-->
<!--                                <div role="tabpanel" class="tab-pane active" id="account-login">-->

<!--                                    <div class="alert alert-success alert-outline">-->
<!--                                        <p>Please insert all inputs below.</p>-->
<!--                                    </div>-->
<!--<form action="" method="POST" >-->
<!--&lt;!&ndash;                                    <form action="{% url 'login' %}" method="POST" >&ndash;&gt;-->
<!--                                        {% csrf_token %}-->
<!--                                        <div class="form-group">-->
<!--                                            <label for="login-account">Account</label>-->
<!--                                            <input type="text" class="form-control" id="login-account" name="username">-->
<!--                                        </div>&lt;!&ndash; /.form-group &ndash;&gt;-->

<!--                                        <div class="form-group">-->
<!--                                            <label for="login-password">Password</label>-->
<!--                                            <input type="password" class="form-control" id="login-password" data-show-password="true" name="password">-->
<!--                                        </div>&lt;!&ndash; /.form-group &ndash;&gt;-->

<!--                                        <div class="forgot-passwd">-->
<!--                                            <a href="#" title="">-->
<!--                                                <i class="icon icon-key"></i>-->
<!--                                                <span>Forgot your password?</span>-->
<!--                                            </a>-->
<!--                                        </div>&lt;!&ndash; /.forgot-passwd &ndash;&gt;-->

<!--                                        <div class="form-button">-->
<!--                                            <button type="submit" class="btn btn-lg btn-primary btn-block">Login</button>-->
<!--                                        </div>&lt;!&ndash; /.form-group &ndash;&gt;-->
<!--                                    </form>-->
<!--                                </div>&lt;!&ndash; /.tab-pane &ndash;&gt;-->

<!--                                <div role="tabpanel" class="tab-pane" id="account-register">-->
<!--                                    <form action="" method="POST" >-->
<!--&lt;!&ndash;                                    <form action="{% url 'register' %}" method="POST" >&ndash;&gt;-->
<!--                                        {% csrf_token %}-->
<!--                                        <div class="form-group">-->
<!--                                            <label for="register-username">Username <sup>*</sup></label>-->
<!--                                            <input type="text" class="form-control" id="register-username" name="username">-->
<!--                                        </div>&lt;!&ndash; /.form-group &ndash;&gt;-->

<!--                                        <div class="form-group">-->
<!--                                            <label for="register-email">Email <sup>*</sup></label>-->
<!--                                            <input type="text" class="form-control" id="register-email" name="email">-->
<!--                                        </div>&lt;!&ndash; /.form-group &ndash;&gt;-->

<!--                                        <div class="form-group">-->
<!--                                            <label for="register-password">Password <sup>*</sup></label>-->
<!--                                            <input type="password" class="form-control" id="register-password" name="password">-->
<!--                                        </div>&lt;!&ndash; /.form-group &ndash;&gt;-->

<!--                                        <div class="form-group">-->
<!--                                            <label for="register-confirm-password">Confirm Password <sup>*</sup></label>-->
<!--                                            <input type="password" class="form-control" id="register-confirm-password" name="password_confirm">-->
<!--                                        </div>&lt;!&ndash; /.form-group &ndash;&gt;-->

<!--                                        <div class="form-button">-->
<!--                                            <button type="submit" class="btn btn-lg btn-primary btn-block">Register</button>-->
<!--                                        </div>&lt;!&ndash; /.form-button &ndash;&gt;-->
<!--                                    </form>-->
<!--                                </div>&lt;!&ndash; /.tab-pane &ndash;&gt;-->
<!--                            </div>&lt;!&ndash; /.tab-content &ndash;&gt;-->
<!--                        </div>-->
<!--                    </div>-->

<!--                </div>-->
{% endblock %}